/*
 * secomp.css
 *
 * @package     public
 * @subpackage  css
 * @category    stylesheet
 * @author      João Paulo Angeleti de Souza <joaopaulosouza@hotmail.com>
 * @link        https://gitlab.com/joaopauloasouza/secomp/tree/master/public/css
 *
 */

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

a, a:visited, a:focus, a:active, a:hover {
    outline: 0 none !important;
}


/** Image Styles
-------------------------------------------------- */
.img-centered {
    margin: auto;
}



/** Breadcrumb Styles
-------------------------------------------------- */

.breadcrumb {
    border: 1px solid #e7e7e7;
    margin-bottom: 20px;
}
.breadcrumb > li + li:before {
    content: "\00BB"; /* Hex code for » */
}


/** Button Custom
-------------------------------------------------- */
.btn-custom {
    margin-left: 0px;
    display: block;
}

@media (min-width: 768px) {
    .btn-custom {
        margin-left: 15px;
    }
}


.note-editor.note-frame.panel {
    margin-bottom: 0;
}