.form-body {
    margin-top: 50px;
}

.form-forgot {
    float:right;
    font-size: 80%;
    position: relative;
    top: -10px;
}

.form-hr {
    margin-top:10px;
    margin-bottom:10px;
}

.form-bottom {
    font-size:85%;
}